<div
  (click)="activeEditing()"
  [class.inline-form-container-editing]="isEditing"
  class="inline-form-container"
>
  <ng-container *ngIf="!isEditing; else editing">
    <p-button styleClass="p-button-text">
      {{ defaultText }}
    </p-button>
  </ng-container>
  <ng-template #editing>
    <form
      *ngIf="isEditing"
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      class="inline-form"
    >
      <ng-container *ngIf="inputType === 'input'; else textarea">
        <span class="p-float-label">
          <input
            formControlName="title"
            id="title"
            [type]="inputType"
            pInputText
          />
          <label for="title">{{ inputPlaceholder }}</label>
        </span>
      </ng-container>
      <ng-template #textarea>
        <textarea
          *ngSwitchCase="'textarea'"
          [rows]="5"
          [cols]="30"
          pInputTextarea
          [autoResize]="true"
        ></textarea>
      </ng-template>
    </form>
  </ng-template>
</div>
