<div
  (click)="activeEditing()"
  [class.inline-form-container-editing]="isEditing"
  class="inline-form-container"
>
  <ng-container *ngIf="!isEditing; else editing">
    <p-button
      [label]="defaultText"
      styleClass="p-button-text w-full"
    ></p-button>
  </ng-container>
  <ng-template #editing>
    <form
      *ngIf="isEditing"
      (ngSubmit)="onSubmit()"
      (keyup.enter)="onSubmit()"
      (keydown.escape)="cancelEditing()"
      [formGroup]="form"
      class="flex align-items-center"
    >
      <ng-container *ngIf="inputType === InputTypes.INPUT; else textarea">
        <span class="p-float-label w-full">
          <input
            [type]="inputType"
            formControlName="title"
            class="w-full"
            id="title"
            pInputText
          />
          <label for="title">{{ inputPlaceholder }}</label>
        </span>
      </ng-container>
      <ng-template #textarea>
        <textarea
          [autoResize]="true"
          [rows]="5"
          [cols]="30"
          formControlName="title"
          class="w-full"
          pInputTextarea
        ></textarea>
      </ng-template>
    </form>
  </ng-template>
</div>
