<div
  (click)="activeEditing()"
  [class.inline-form-container-editing]="isEditing"
  class="inline-form-container"
>
  <ng-container *ngIf="!isEditing; else editing">
    <p-button styleClass="p-button-text">
      {{ defaultText }}
    </p-button>
  </ng-container>
  <ng-template #editing>
    <form
      *ngIf="isEditing"
      (ngSubmit)="onSubmit()"
      (keyup.enter)="onSubmit()"
      [formGroup]="form"
      class="flex align-items-center"
    >
      <ng-container *ngIf="inputType === InputTypes.INPUT; else textarea">
        <span class="p-float-label">
          <input
            [type]="inputType"
            formControlName="title"
            id="title"
            pInputText
          />
          <label for="title">{{ inputPlaceholder }}</label>
        </span>
      </ng-container>
      <ng-template #textarea>
        <textarea
          [autoResize]="true"
          [rows]="5"
          [cols]="30"
          formControlName="title"
          pInputTextarea
        ></textarea>
      </ng-template>

      <p-button
        styleClass="p-button-text p-button-secondary"
        type="submit"
        label="Save"
      ></p-button>
    </form>
  </ng-template>
</div>
