<app-menubar></app-menubar>
<section>
  <div
    class="flex justify-content-center align-items-center container-max-w-xl h-screen-menu"
  >
    <div class="w-6 pr-4">
      <h1 class="mt-8 text-4xl">
        Trello helps teams work more collaboratively and get more done.
      </h1>
      <p class="mt-4">
        Trello's boards, lists, and cards enable teams to organize and
        prioritize projects in a fun, flexible and rewarding wat.
      </p>
    </div>
    <div class="w-6">
      <img src="assets/images/hero.svg" class="w-full" />
    </div>
  </div>
</section>
<section>
  <div
    class="flex justify-content-center align-items-center container-max-w-xl min-h-screen"
  >
    <div class="w-6 pr-4">
      <h1 class="mt-8 text-4xl">Work with any team</h1>
      <p class="mt-4">
        Whether it's for work, a side project or even the next family vacation,
        Trello helps your team stay organised.
      </p>
    </div>
    <div class="w-6">
      <img
        src="assets/images/work-with-any-team.png"
        class="w-full border-round-lg"
      />
    </div>
  </div>
</section>
