<app-top-bar></app-top-bar>
<div class="boards-page-container">
  <div class="home-left-sidebar-container">
    <a
      routerLink="/boards"
      class="boards-side-menu-option"
      routerLinkActive="boards-side-menu-option-selected"
    >
      Boards
    </a>
    <a
      routerLink="/"
      class="boards-side-menu-option"
      routerLinkActive="boards-side-menu-option-selected"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
  </div>
  <div class="boards-section-container">
    <div class="my-boards">
      <div class="my-boards-section-header">
        <div class="boards-page-header-name">My boards</div>
      </div>
      <div class="board-tile-list">
        <app-inline-form
          (handleSubmit)="createBoard($event)"
          defaultText="Create new board"
          class="create-board-form"
        ></app-inline-form>
        <a
          *ngFor="let board of boards$ | async"
          [routerLink]="['/boards', board.id]"
          class="board-tile"
        >
          <div class="board-tile-details-name">
            {{ board.title }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
