@use "index";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

.shadow {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.1);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.h-screen-menu {
  min-height: calc(100vh - 64px) !important;
}

.board,
.column {
  transition-duration: 150ms;

  &:hover {
    box-shadow: 0 0 3px 5px rgba(255, 255, 255, 0.2);
  }
}

.container-md {
  width: min(100% - 1rem, 840px);
  margin-inline: auto;
}
