<div
  class="min-h-screen flex flex-column justify-content-center align-items-center px-3"
>
  <a class="mb-5 inline-flex" [routerLink]="['/']">
    <img
      src="assets/images/trello-logo-white.svg"
      alt="trello-logo"
      class="w-3 mx-auto"
    />
  </a>

  <ng-container *ngIf="form; else loading">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="py-3 px-6 border-round-lg shadow container-md"
    >
      <h3 class="text-center mt-2">Register to Trello</h3>

      <ul class="font-light text-pink-500">
        <!-- Errors here -->
        <li>Error example</li>
      </ul>

      <span class="p-float-label mt-5">
        <input
          formControlName="username"
          id="username"
          class="p-2 w-full"
          type="text"
          pInputText
        />
        <label for="username">Username</label>
      </span>
      <span class="p-float-label mt-5">
        <input
          formControlName="email"
          id="email"
          class="p-2 w-full"
          type="text"
          pInputText
        />
        <label for="email">Email</label>
      </span>
      <span class="p-float-label mt-5">
        <input
          formControlName="password"
          id="password"
          class="p-2 w-full"
          type="password"
          pInputText
        />
        <label for="password">Password</label>
      </span>

      <div class="mt-6">
        <p-button styleClass="w-full" label="Register" type="submit"></p-button>
      </div>
      <div class="mt-3">
        <p-button
          [routerLink]="['/login']"
          styleClass="w-full p-button-text"
          label="Sign in"
        ></p-button>
      </div>
    </form>
  </ng-container>
  <ng-template #loading>
    <div class="flex justify-content-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-template>
</div>
